html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}


/*


 font-family: 'Dancing Script', cursive;
font-family: 'Tangerine', cursive; 


*/


:root {
  --whatsapp: rgb(57, 255, 83);
  --instagram: rgb(0, 0, 0);
  --cor-1: #228892;
  --cor-2: #fafafa;
  --cor-3: #e55bb3;
  --cor-4: #f4b424;
  --cor-5: #c886fa;
  --cor-6: rgb(26, 24, 24);
  --letra-pag1: #000000;
  --letra-pag3: #fff;
  --branco: #fff;
}

.pag-principal {
  background-image: url(bg-principal-webp.webp);
  background-repeat: no-repeat;
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  color: var(--letra-pag1);
}

.pag-principal h1 {
  font-family: 'Tangerine', cursive;
  font-size: 70px;
  padding: 16px 0px 0px 18px;
}

.pag-principal p {
  font-size: 18px;
  padding: 0px 0px 0px 18px;
}

#grid-nav {
  position: fixed;
  display: -moz-grid;
  display: grid;
  width: 100%;
  grid-template-columns: 30% 50% 20%;
}

nav {
  padding-top: 30px;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin-left: 10px;
  float: left;
  display: flex;
  padding:7px 10px 7px 10px;
  font-size: 16px;

}

nav ul li:hover {
  background-color: var(--branco);
  border-radius: 6px;
  opacity: 0.6;
}

nav ul li a {
  text-decoration: none;
  color: var(--letra-branca);
}

.pag-2 {
  background-color: var(--cor-2);
  width: 100%;
  min-height: 90vh;
  max-height: auto;
  color: rgb(3, 3, 3);
}

.pag-2 h2 {
  font-family: 'Tangerine', cursive;
  text-align: center;
  padding: 60px 0 0 0;
  font-size: 65px;
}

.pag-2 p {
  padding: 10px 0 0 0;
  text-align: center;
  font-size: 18px;
}

.grid-aulas {
  padding: 100px 0 0 0;
  justify-content: center;
  display: grid;
  display: -moz-grid;
  max-width: 100%;
  column-gap: 5%;
  grid-template-columns: 20% 20% 20%;
}

.box-aulas {
  max-width: 250px;
  width: 300px;
  height: 300px;
}

.box-aulas h3 {
  text-align: center;
}

.pag1-rede-social i {
  font-size: 30px;
  padding-left: 20px;
  padding-top: 30px;
}

.pag1-rede-social i:hover {
  transform: scale(1.1);
}

.box-aulas img {
  padding: 10% 0 0 36%;
  width: 80px;
  height: 80px;
}

.btn-saiba-mais {
  display: flex;
  justify-content: center;
}

.btn-saiba-mais button {
  border-radius: 7px;
  padding: 8px 6px 6px 8px;
  background-color: #000000;
  color: #d6d6d6;
  margin-bottom: 50px;
}


/* pagina 3 */


.pag-3 {
  width: 100%;
  max-height: auto;
  min-height: 90vh;
  background-color: var(--cor-6);
  color: var(--letra-pag3);
}

.pag-3 h2 {
  font-family: 'Tangerine', cursive;
  text-align: center;
  padding: 60px 0 0 0;
  font-size: 65px;
}

.pag-3 p {
  padding: 10px 0 0 0;
  text-align: center;
  font-size: 18px;
}

.grid-salao {
  padding: 100px 0 0 0;
  justify-content: center;
  display: grid;
  display: -moz-grid;
  column-gap: 5%;
  grid-template-columns: 20% 20% 20% 20%;
}



.box-salao {
  /* background-color: #9e9e9e; */
  width: 300px;
  height: 300px;
}

.box-salao h3 {
  text-align: center;
}

.pag1-rede-social i {
  font-size: 30px;
  padding-left: 20px;
  padding-top: 30px;
}

.pag1-rede-social i:hover {
  transform: scale(1.1);
}

.box-salao img {
  padding: 10% 0 0 36%;
  width: 80px;
  height: 80px;
}








footer {
  height: 60vh;
  background-color: #d6d6d6;
  display: grid;
  grid-template-columns: 50% 50%;
}

.pos-footer {
  height: 20vh;
  background-color: #000000;
}

.pos-footer h2 {
  color: var(--branco);
  font-size: 15px;
  text-align: center;
  padding-top: 80px;
}



.sticky {
  background-color: #fff;
  opacity: 0.6;
}