* {
  margin: 0;
  padding: 0;
}

:root {
  --cor-1: #228892;
  --cor-2: #000000;
  --cor-3: #e55bb3;
  --cor-4: #f4b424;
  --cor-5: #c886fa;
  --letra-branca: #fff;
}

.pag-principal {
  background-image: url(bg-principal-webp.webp);
  background-repeat: no-repeat;
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  color: var(--letra-branca);
}

.pag-principal h1 {
  padding: 16px 0px 0px 18px;
}

.pag-principal p {
  padding: 0px 0px 0px 18px;
}

nav {
  display: flex;
  justify-content: center;
}

nav ul li {
  float: left;
  display: flex;

}

.pag-2 {
  background-color: var(--cor-2);
  width: 100%;
  height: 100vh;
}